
.subabout{
    height: 10%;
    width: 40%;
    margin: 10px 10px 10px 10px;
    padding: 1% 0 0 1%;
    background-color:black;
    color: beige;
    
}

.boxdesign{  
    width: 60%;
    height: 80%;
    /* display: flexbox; */
    display: flexbox;
    /* margin: 1px 1px 1px 1px; */
    /* padding: 1% 0 0 1%;     */
}
.boxdesign1{
    /* width: 100%;
    height: 100%; */
    /* display: flexbox; */
    display: flexbox;
    /* margin: 10px 10px 10px 10px; */
    /* padding: 1% 0 0 1%;  */
}

.box1about {
    /* width: 80%;
  height: 30%; */
    color: black;
    background-color:beige;
    margin: 10px 10px 10px 10px;
    padding: 1% 0 0 1%;

}

.box2about {
    /* width: 60%;
  height: 30%; */
    color: black;
    background-color: gray;
    align-self: left;
    margin: 10px 10px 10px 10px;
    padding: 1% 0 0 1%;

}

.box3about {
    /* width: 60%;
  height: 30%; */
    color: black;
    background-color: beige;
    margin: 10px 10px 10px 10px;
    padding: 1% 0 0 1%;

}

.box4about{
    /* width: 80%;
    height: 30%; */
      color: black;
      background-color:grey;
      margin: 10px 10px 10px 10px;
      padding: 1% 0 0 1%;
      
}

.box5about{
    /* width: 60%;
    height: 30%; */
      color: black;
      background-color: beige;
      /* align-self: left; */
      margin: 10px 10px 10px 10px;
      padding: 1% 0 0 1%;
     
  
}

.phoadres{
    width: 50%;
    /* height: 50%; */
    display: flexbox;
    /* display: flex; */
    color: beige;
    background-color:black;
    margin: 10px 10px 10px 10px;
      padding: 1% 0 0 1%;
  
}
