
.form-registar{
    width: 10%;
    height: 10%;
    display: flexbox;
    background-color: gray;
    /* display: flex; */
    margin: 1px 1px 1px 1px;
    padding: 1% 0 0 1%; 
}

.cont{
    height: 10%;
    width: 30%;
    margin: 10px 10px 10px 10px;
    padding: 1% 0 0 1%;
    background-color:black;  
}



.form-register{
    height: 70%;
    width: 50%;
    /* margin: 10px 10px 10px 10px;
    padding: 1% 0 0 1%; */
    background-color: black;
}

.container{
    width: 20%;
    height: 20%;
    display: contents;
    color: white;
    /* background-color: gray; */
    /* display: flex; */
    /* margin: 10px 10px 10px 10px;
    padding: 1% 0 0 1%;  */
}

.habout{
    color: gold;
    size: 200%;

}
.form{
    width: 40%;
    padding: 20px;
    margin: o auto;
    background-color: beige;
}


.phoadres{
    /* width: 100px; */
    /* height: 100px; */
    display: block;
    margin: 10px 10px 10x 10px;
    padding: 1% 0 0 1%;
}
.adress{
    width: 30%;
  height: 30%;
    color: beige;
    background-color:black;
    /* margin: 10px 10px 10px 10px;
    padding: 1% 0 0 1%; */

    
}
.phone{
    width: 30%;
    height: 10%;
      color: beige;
      background-color:black;
      /* margin: 10px 10px 10px 10px;
      padding: 1% 0 0 1%; */
}