header {
    z-index: 32;
    display: flex;
    padding: 0px;
    font-size: 14px;
    line-height: 1.5;
    color: white;
    background-color: black;
    align-items: center;
    flex-wrap: nowrap;
}

/* add-product */
.body-admin{
    background-color: #edecd7;
}

.categoria{
    margin-bottom: 20px;
} 

footer {
    background-color: black;
    color: #edecd7;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

h1 {
    color: darkorange;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
    text-align: center;
    padding-top: 15px;
    background-color: black;
}

h2 {
    color: darkorange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;

}

@media only screen and (min-width: 576px) {
    /* Small: */
     .orange-line{
        position: absolute;
        top: 130px;
        width: 100%;
        height: 7px;
    } 
  }
@media only screen and (min-width: 768px) {
    /* Medium: */
    .orange-line{
        position: absolute; 
        top: 90px;
        width: 100%;
        height: 7px;

    } 
}  
@media only screen and (min-width: 992px) {
    /* Large: */
    .orange-line{
        position: absolute; 
        top: 70px;
        width: 100%;
        height: 8px;
    }
    .new{
        width: 100%;
        height: 150px;
        
    } 
    .body-admin{
        height: 250px;
        width: 100%;
        
    } 
}
@media only screen and (min-width: 1200px) {
    /* X-Large: */
    .orange-line{
        position: absolute; 
        top: 70px;
        width: 100%;
        height: 8px;
    }
    .new{
        width: 100%;
        height: 550px;
        
    } 
    .body-admin{
        height: 550px;
        width: 100%;
        
    }

}    